:root{
    /* FUENTES */

	--font-general: Arial, Helvetica, sans-serif;;

    /* COLORES */

    --color-purple: #AB88FF;
    --color-purple-strong: #8f57fd;
    --color-water-green: #21c08b;
    --color-gradient-water-green-purple: linear-gradient(#21C08B, #AB88FF);
    --white-standar: white;
    --black-opacity-uno: rgba(255, 255, 255, 0.1);
    --color-transparent: transparent;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem ;
    font-family: var(--font-general);
}

/* 1.- HEADER - PUBLICO -PRIVADO */

.header-publico{
    background: var(--color-water-green);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu privado */

.header-privado{
    background: var(--color-purple-strong);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* perfil */

.header-privado__container-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-privado__imagen-perfil{
    width: 4rem;
    margin-right: 1rem;
}

.header-privado__texto-perfil{
    font-size: 1.6rem;
    color: var(--white-standar);
}

/* menu */

.header-privado__container-menu{
    display: none;
}

.header-privado__container-perfil-menu:hover .header-privado__container-menu, .header-privado__container-menu:hover {
	display: block;
}

.header-privado__container_ul-menu{
    list-style: none;
    margin: 0 0 0 -1.4rem;
    padding: 0;
    position: absolute;
    width: 10rem;
    text-align: right;
}

.header-privado__container-li-menu-cuenta, .header-privado__container-li-cerrar-sesion{
    margin: 1rem 0;
}

.header-privado__link-cuenta, .header-privado__link-cerrar-sesion{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
} 

.header-privado__link-cuenta:hover, .header-privado__link-cerrar-sesion:hover{
    text-decoration: underline;
}

/* Logo */ 

.header-publico__container-logo, .header-privado__container-logo{
    display: flex;
    align-items: center;
}

/* MAIN  */

.main-container-principal{
    flex: 1 0 auto;
}

/* 2.- FORMULARIO LOGIN - REGISTER - FORGOT PASSWORD*/

/* formulario - imagen */

.container-formulario-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: var(--color-gradient-water-green-purple);
    padding: 2rem;
}

/* formulario */

.container-formulario-imagen__formulario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 70rem;
    width: 100%;
    padding: 3rem;
    border: 0.2rem solid var(--white-standar);
    border-radius: 4rem;
    margin-right: 0rem;
    /*margin-bottom: 1.5rem;*/
}

/* titulo formulario */

.container-formulario-imagen__titulo-login{
    font-size: 2.5rem;
    color: var(--white-standar);
}

/* formulario */ 

.container-formulario-imagen__container-titulo-login, .container-formulario-imagen__container-formulario-login, .container-formulario-imagen__container-google-twitter, .container-formulario-imagen__container-link-registate{
    width: 100%;
}

.container-formulario-imagen__formulario-login{
    display: flex;
    flex-direction: column;
}

/* inputs */ 

.container-formulario-imagen__input-email, .container-formulario-imagen__input-passsword, .container-formulario-imagen__input-repite-passsword, .container-avatar-formulario__input-nombre, .container-avatar-formulario__input-apellido, .container-avatar-formulario__input-email, .container-avatar-formulario__input-telefono{
    background-color: var(--color-transparent);
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0.2rem solid var(--white-standar);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
    outline: none;
    height: 5rem;
    color: var(--white-standar);
}

.container-formulario-imagen__input-email::placeholder, .container-formulario-imagen__input-passsword::placeholder, .container-formulario-imagen__input-repite-passsword::placeholder, .container-avatar-formulario__input-nombre::placeholder, .container-avatar-formulario__input-apellido::placeholder, .container-avatar-formulario__input-email::placeholder, .container-avatar-formulario__input-telefono::placeholder{
    color: var(--white-standar);
}

/* boton */ 

.container-formulario-imagen__boton, .container-avatar-formulario__boton{
    background-color: var(--black-opacity-uno);
    border: none;
    border-radius: 2.5rem;
    color: var(--white-standar);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    height: 5rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
    padding: 0 2rem;
}

/* recuerdame y olvido contraseña - logueate */

.container-formulario-imagen__container-recuerdame-forgot-password, .container-formulario-imagen__container-logueate-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-formulario-imagen__container-recuerdame, .container-formulario-imagen__texto-logueate{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-standar);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container-formulario-imagen__container-recuerdame, .container-formulario-imagen__input-recuerdame{
    cursor: pointer;
}

.container-formulario-imagen__input-recuerdame{
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.container-formulario-imagen__arrow-right{
    display: none;
    margin-left: 0.5rem;
}

.container-formulario-imagen__arrow-down{
    display: block;
    margin-left: 0.5rem;
}

.container-formulario-imagen__forgot-password, .container-formulario-imagen__link-login{
    color: var(--white-standar);
    font-size: 1.6rem; 
    text-decoration: none;
    padding: 0.5rem;
}

.container-formulario-imagen__forgot-password:hover, .container-formulario-imagen__link-login:hover{
    text-decoration: underline;
}

/* social */

.container-formulario-imagen__container-google, .container-formulario-imagen__container-twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 1.5rem; 
    border: 0.2rem solid var(--white-standar);
    border-radius: 5rem;
    margin: 1rem 0;
    padding: 1rem;
}

.container-formulario-imagen__redirect-google, .container-formulario-imagen__redirect-twitter{
    text-decoration: none;
}

.container-formulario-imagen__imagen-google, .container-formulario-imagen__imagen-twitter{
    width: 3.2rem;
}

.container-formulario-imagen__titulo-google, .container-formulario-imagen__titulo-twitter{
    margin-left: 0rem;
    color: var(--white-standar);
    text-align: center;
}

/* link registrate */

.container-formulario-imagen__container-link-registate{
    display: flex;
    justify-content: center;
    color: var(--white-standar);
    text-align: center;
}

.container-formulario-imagen__texto-link-registrate{
    font-size: 1.5rem;
}

.container-formulario-imagen__link-registarte{
    text-decoration: none; 
    color: var(--white-standar);
    font-size: 1.6rem;
    font-weight: bold;
}

.container-formulario-imagen__link-registarte:hover{
    text-decoration: underline;
}

/* imagen */

.container-formulario-imagen__imagen{
    display: none;
    width: 100%;
}

.container-formulario-imagen__imagen-login{
    height: 70rem;
    width: 100%;
    border-radius: 4rem;
    object-fit: cover;
    object-position: center; 
}

/* 3.- FOOTER */

.footer{
    flex-shrink: 0;
    background-color: var(--color-purple);
}

.footer--strong-purple{
    background-color: var(--color-purple-strong);
}

/* ul links */

.footer__container-ul-links{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
}

/* li links */

.footer__container-li-link-terminos, .footer__container-li-link-privacidad, .footer__container-li-llink-ayuda{
    padding: 1.6rem;
}

/* links */

.footer__link-terminos, .footer__link-privacidad, .footer__link-ayuda{
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    color: var(--black-strong);
    font-size: 1.6rem;
    color: var(--white-standar);
}
.footer__link-terminos:hover, .footer__link-privacidad:hover, .footer__link-ayuda:hover{
    text-decoration: underline;
}

/* 4.- LISTA DE MUSICA */ 

.container-search-music{
    background-color: var(--color-purple-strong);
    height: 100%;
}

.container-search-music__container-principal-titulo-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* titulo search  */ 

.container-search-music__container-titulo-search{
    margin: 5rem 2rem 2rem 2rem;
}

.container-search-music__titulo-search{
    font-size: 2.5rem;
    color: var(--white-standar);
   text-align: center;
}

/* search */ 

.container-search-music__container-search, .container-search-music__formulario-search{
    width: 100%;
}

.container-search-music__container-input-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-search-music__input-search{
    background-color: var(--black-opacity-uno);
    border: 0.2rem solid var(--white-standar);
    border-radius: 2.5rem;
    color: white;
    font-size: 1.6rem;
    height: 5rem;
    outline: none;
    padding: 0 2rem;
    width: 70%;
}

.container-search-music__input-search::placeholder{
    color: white;
}

/* seccion titulo */

.container-search-music_container-titulo-music{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* titulo carousel */
.container-search-music__titulo-music{
    color: var(--white-standar);
    font-size: 2rem;
}

/* seccion carousel */

.container-search-music__container-lista-music{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 8rem 0;
    padding-left: 2rem;
}

/* caja music */

.container-search-music__container-music{
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-width: 20rem;
    height: 25rem;
    margin-right: 1rem;
    font-size: 2rem;
    cursor: default;
    transition: 450ms all;
    transform-origin: center left;
}

/* imagen caja */

.container-search-music__imagen-music{
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}

/* hover cajas */

.container-search-music__container-music:hover{
    transform: scale(1.5);
    opacity: 1;
}

/* descipcion caja */

.container-search-music__container-icons-descripcion{
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    bottom: 0;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.container-search-music__container-music:hover ~ .container-search-music__container-music{
    transform: translate3d(10rem, 0, 0);
}

.container-search-music__container-music:hover .container-search-music__container-icons-descripcion {
    opacity: 1;
}

/* caja - descripcion - iconos */

.container-search-music__container-icons{
    display: flex;
}

.container-search-music__icon-play, .container-search-music__icon-add{
    width: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

/* descripcion */

.container-search-music__titulo-descripcion{
    color: white;
    margin: 0.5rem 0 0 0;
    cursor: text;
}

.container-search-music__detalle-descripcion{
    color: white;
    font-size: 0.8rem;
    margin: 0.3rem 0;
    cursor: text;
}

/* 5.- PERFIL */ 

.container-avatar-formulario{
    background-color: var(--color-purple-strong);
    height: 100%;
}

/* titulo pefil */

.container-avatar-formulario__container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-avatar-formulario__titulo{
    text-align: center;
    margin: 5rem 2rem 2rem 2rem;
}

.container-avatar-formulario__container-principal-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Avatar */

.container-avatar-formulario__container-foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
}

.container-avatar-formulario__foto-perfil{
    border-radius: 50%;
    border: 0.5rem solid var(--white-standar);
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    object-position: center;
}

.container-avatar-formulario__container-acciones-avatar{
    margin: 1rem;
}

.container-avatar-formulario__update-foto-perfil, .container-avatar-formulario__delete-foto-perfil{
    width: 3.5rem;
    cursor: pointer;
}

.container-avatar-formulario__update-foto-perfil{
    margin-right: 1rem;
}

/* formulario perfil */

.container-avatar-formulario__container-formulario-perfil{
    margin: 0 2rem;
}

.container-avatar-formulario__container-principal-avatar-formulario{
    display: flex;
    flex-direction: column;
}

.container-avatar-formulario__formulario-perfil{
    display: flex;
    flex-direction: column;
}