/* MEDIA QUERIES */

/* mobile */

@media(min-width: 480px){

    /* 1.- HEADER - PUBLICO -PRIVADO */

    /* Menu privado */

    .header-privado{
        justify-content: space-between;
        flex-direction: row;
    }

    /* formulario */

    .container-formulario-imagen__formulario{
        padding: 3rem 5rem;
    }

    /* recuerdame y olvido contraseña */

    .container-formulario-imagen__container-recuerdame-forgot-password, .container-formulario-imagen__container-logueate-login{
        justify-content: space-between;
        flex-direction: row;
    }

    .container-formulario-imagen__container-recuerdame, .container-formulario-imagen__texto-logueate{
        margin-bottom: 0;
    }

    .container-formulario-imagen__arrow-right{
        display: block;
    }
    
    .container-formulario-imagen__arrow-down{
        display: none;
    }

}

@media(min-width: 575px){

    /* formulario */

    .container-formulario-imagen__formulario{
        width: 50rem;
    }
    
    .container-formulario-imagen__container-titulo-login, .container-formulario-imagen__container-formulario-login, .container-formulario-imagen__container-google-twitter, .container-formulario-imagen__container-link-registate{
        width: 40rem;
    }

}