/* MEDIA QUERIES */

/* tablet */

@media(min-width: 1024px){

    /* 2.- FORMULARIO - IMAGEN */

    /* formulario - imagen */

    .container-formulario-imagen{
        flex-direction: row;
    }

    /* formulario */

    .container-formulario-imagen__formulario{
        margin-right: 1.5rem;
        width: 45rem;
    }

    .container-formulario-imagen__container-titulo-login, .container-formulario-imagen__container-formulario-login, .container-formulario-imagen__container-google-twitter, .container-formulario-imagen__container-link-registate{
        width: 35rem;
    }

    /* imagen */

    .container-formulario-imagen__imagen{
        display: block;
    }

}